{% extends 'HomefinanceBundle:layout:small_form.html.twig' %}

{% trans_default_domain "user" %}

{% block title %}
    {{ 'lost_password.title'|trans }}
{% endblock %}

{% block content %}
    <h2>{{ 'lost_password.title'|trans }}</h2>
    <p>{{ 'lost_password.success_message'|trans({'%login_link%': url('login')})|raw|nl2br }}</p>
{% endblock %}