{% extends 'HomefinanceBundle:layout:base.html.twig' %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        {% embed('HomefinanceBundle:layout:topmenu.html.twig') %}{% endembed %}
    </div>
    <div class="row">
        <div class="col-md-2 nav-white collapse navbar-collapse navbar-ex1-collapse">
            {% block sidebar %}{% endblock %}
        </div>
        <div class="col-md-10">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}